.card {

  width: 250px;
  padding: 20px;
  margin: 20px;

  border-radius: 12px;

  box-shadow: 0 4px 10px rgba(0,0,0,0.2);

  text-align: center;

  font-family: Arial;

  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.product-image {
  width: 100%;
  border-radius: 10px;
}

.price {
  font-size: 20px;
  font-weight: bold;
}

.stock {
  font-weight: bold;
}

.in {
  color: green;
}

.out {
  color: red;
}
